@mixin tamanho($width , $height){
    width: $width;
    height: $height;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100&display=swap');
@mixin display($flex,$row){
    display:$flex;
    flex-direction:$row;
    // flex-wrap: wrap;
}
@mixin transform($x,$y){
    transform: translate($x,$y);
}
$cor-azul: rgb(0,96,177);
$cor-branco-menos: #f6f6f6;
$cor-branco-mais: #ffffff;
$cor-laranja: #FF6500;
$cor-laranja-claro: #ff9100;
$cor-laranja-muito-claro: #ffac27;


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // color: white;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $cor-azul;
    width: 100%;
    height: 100%;
}
nav{

    
    margin-top: 1.5rem;
    display: flex;
    grid-template-columns: 1rem 4rem 4rem 1rem 1rem 1rem 1rem;
    width: 100%;
    height: 3rem;
    // justify-content: space-between;
    .nav1{

        input{
            @include tamanho(40rem, 2rem );

            border-radius: 10px;    
        }
    }
    
    div{
        margin: 5px;
        width: fit-content;
        height: fit-content;
        // background-color: red;
        p{
            color:white;
        }
    }
    #logo{
        @include tamanho(13rem,"" )
    }
    #perfil{
        @include display(flex,'' );
        width:10rem;
        img{
            @include transform(1px,-0.5rem )
        }
        margin-right: 10rem;
    }
    
}
ul{
    @include tamanho(100%, 3rem );
    background-color: $cor-laranja;
    list-style: none;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        font-family: 'Bebas Neue', cursive;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
        display: flex;
        align-items: center;
        margin: 1.9rem;
        width: fit-content;
        height: 100%;
        background-color: $cor-laranja;
        @include transform(0px,0rem );
        &:hover{
            background-color: $cor-laranja-claro;
        };
        input{
            all: unset;
            padding: 5px;
        }
    }
}
.slider{
    @include tamanho(70rem, fit-content );
    overflow: hidden;
  .slid{
    @include tamanho(fit-content,fit-content );
    @include display(flex, row );
    align-items: center;
    align-items: flex-start;
    }  
}

.container{
    
    @include tamanho(70rem, fit-content );
    @include display(flex, column );
    margin-top: 6rem;
    // background-color: $cor-laranja;
    
    .anuncio{
        
        @include tamanho(100%rem,14rem );
        @include display(flex,row);
        background-color: red;
        overflow: hidden;
        margin-bottom:1rem;
        .anunciochild{
            @include display(flex,row );
            transition: 1s;
        }
        .an{
            @include tamanho(70rem,100% );
            
        }
    }
    .destaques{
        font-size: 2rem;
        margin-top: 20px;
        padding-left: 1rem;
        color: $cor-branco-mais;
        background-color: $cor-laranja;
        font-family: 'Bebas Neue', cursive;
    };
    .subdestaques{
        padding-top: 2rem;
        font-size: 2rem;
        padding-left: 1rem;
        background-color: $cor-branco-menos;
        font-family: 'Bebas Neue', cursive;
    }
    .produtos{
        
        background-color: $cor-branco-menos;
        @include display(flex, row  );
        flex-wrap: wrap;
        @include tamanho(100%, 100%);
        
        input{
            @include tamanho(0.7rem, 0.7rem )
        }
        img{
            @include tamanho(6rem,6rem );
        }
        .itens{
            @include display(flex, column );
            justify-content: space-between;
            margin-left: 1.4rem;
            margin-top: 0.5rem;
            width: 12rem;
            height: 19rem;
            
            background-color: $cor-branco-mais;
            border-radius: 10px;
            padding: 5px;
            &:hover{
                scale: 1.01;
            }
            img{
                @include tamanho(100%, 50% );
            }
            .addcarrinho{
                padding: 0.1rem;
                border-radius: 5px;
                color: white;
                background-color: $cor-laranja;
                cursor: pointer;
                &:hover{
                    background-color: $cor-laranja-claro;
                }
                &:active{
                    background-color: $cor-laranja-muito-claro;
                }
                &:hover{
                    scale: 1.03;
                }
            }
            
            
        }
    }
    
}


.carrinho{
    margin-top: 10px;
    @include display(flex,column );
    @include tamanho(10%,fit-content );
    
    width: 70rem;
    min-height: 14rem;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color:$cor-branco-menos;
    .containeritm{
        position: relative;
        @include display(flex,column );
        margin-top: 1rem;
        min-height: 6rem;
        background-color: $cor-branco-menos;
        .itemcar{
            margin-top: 0.5rem;
            background-color: $cor-branco-mais;
            
            @include tamanho(50%, fit-content );
            @include display(flex,row );
            align-items: center;
            justify-content: space-around;
            // justify-content: center;
            
            .imgitm{
                @include tamanho(5rem,5rem );
                margin-right: 1rem;
                margin-left: 1rem;
            }
            .discricar{
                max-width: 15rem;
            }
            .montante{
                input{
                    @include tamanho(2rem, 1.8rem );
                    margin: 0.6rem;
                    margin-right:0.3rem ;
                    margin-left:2rem ;
                    border: none;
                }
                img{
                    @include tamanho(3rem, 0.5rem)
                }
            }
        }
    }
    .total{
        margin: 1rem;
        position: relative;
    }
    .comprar{
        all: unset;
        
        position: absolute;
        padding: 5px;
        border-radius: 5px;
        border: solid 1px black;
        top: 0px;
        @include transform(8rem,0rem );
        
        &:hover{
            background-color: $cor-laranja;
            border: solid 1px white;
            
        }
    }
    
}
.favoritos{
    @include display(flex,row );
    @include tamanho(10%, fit-content );
    width: 70rem;
    min-height: 14rem;
    background-color: $cor-branco-menos;
    padding: 1rem;
        
        .favoritosP{
            font-weight: bold;
            font-size: 1.5rem;
        }
        input{
            @include tamanho(0.7rem,0.7rem )
        }
        .divfav{
            margin-left: 1rem;
            
            @include tamanho(fit-content,14rem );
            
            @include display(flex, column );
            justify-content: space-between;
            margin-left: 1rem;
            margin-top: 0.5rem;
            max-width: 11rem;
            height: 19rem;
            
            background-color: $cor-branco-mais;
            border-radius: 10px;
            padding: 5px;
            &:hover{
                scale: 1.01;
            }
            img{
                @include tamanho(100%, 50% );
            }
            

    }
    

}
// seção de criação de perfil e login de usuário
.criarperfil{
    width: 40%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
    min-height: 14rem;
    background-color: $cor-branco-menos;
    .ou{
        margin: 40px;
    }
    .boxlogin{
        @include display(flex,column )
        
    }
    .boxcriar{
        @include display(flex,column )
    }
}
.historico{
    margin-top: 10px;
    @include display(flex,column );
    @include tamanho(10%,fit-content );
    width: 70rem;
    min-height: 14rem;
    background-color:$cor-branco-menos;
    .itemcar{
        margin-top: 0.5rem;
        background-color: $cor-branco-mais;
        
        @include tamanho(50%, fit-content );
        @include display(flex,row );
        align-items: center;
        justify-content: space-around;
        // justify-content: center;
        .removeritm{
            display: none;
        }
        .imgitm{
            @include tamanho(5rem,5rem );
            margin-right: 1rem;
            margin-left: 1rem;
        }
        .discricar{
            max-width: 15rem;
        }
        .montante{
            input{
                @include tamanho(2rem, 1.8rem );
                margin: 0.6rem;
                margin-right:0.3rem ;
                margin-left:2rem ;
                border: none;
            }
            img{
                @include tamanho(3rem, 0.5rem)
            }
        }
    }
    
}








@media screen and (max-width: 400px){
    nav{
        width: 90%;
        height: 100px;
        
        display: flex;
        margin-left: -2rem;
        justify-content: center;
      
        .sac{
            display: none;
        }
        #menu{
            display: none;
        }
        #logo{
            width: 90px;
            margin-left: 20px;
        }
        .nav1{

            input{
                @include tamanho(7rem, 1.3rem );

                border-radius: 10px;    
            }  
        }
        #perfil{
            @include tamanho(1rem,2rem );
            margin-right: 7px;
            opacity: 1;
            img{
                @include tamanho(3rem,2.4rem )

            }
            p{display: none;}
            .boxperfil{
                @include tamanho(2.5rem,2.5rem );
            }
        }
    }

    // departamentos
    ul{
        display: none;
    }
    // slider
    .slider{
        @include tamanho(20rem,fit-content);
    }
    // slid
    .slid{
        @include display(flex,row );
        @include tamanho(fit-content,fit-content );
        align-items: flex-start;
    }
    // container
    .container{
        @include tamanho(20rem,fit-content );
        
        
        .produtos{
            justify-content: center;
            .itens{
                
                @include tamanho(90%, 23rem );
                margin-left: 0;
            }
        }

    }
    // favoritos
    .favoritos{
        display: flex;
        flex-direction: column;
        @include tamanho(20rem,fit-content );
        align-items: center;
        min-height: 21rem;

        .divfav{
            @include tamanho(70%,21rem );
            max-width:40rem;
            margin-left: 0%;
            img{
                @include tamanho(12rem,13rem )
            }
        }
    }
    // carrinho
    .carrinho{
        @include tamanho(20rem,fit-content );
        .containeritm{
            align-items: center;
            .itemcar{
                width: 99%;
            }
        }
    }
    .criarperfil{
        @include display(flex,column );
        @include tamanho(20rem,fit-content );
        padding: 20px;
        .boxlogin{
            @include tamanho(10rem,fit-content );
            
        }
        .ou{
            margin: 10px;
            
        }
        .boxcriar{
            
            @include tamanho(10rem,fit-content );
        }
        .seuhist{
            @include tamanho(fit-content,fit-content );
            .historico{
                @include tamanho(fit-content,fit-content );
            }
        }
    }

    .hide{
        display: none;
    }
    .historico{
        .itemcar{
            @include transform(-1rem,0rem );
            @include tamanho(19rem,fit-content );
            .montante{
                @include tamanho(1px,100px )
            }
        }
        
    }
}
.hide{
    display: none;
}