@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 96, 177);
  width: 100%;
  height: 100%;
}

nav {
  margin-top: 1.5rem;
  display: flex;
  grid-template-columns: 1rem 4rem 4rem 1rem 1rem 1rem 1rem;
  width: 100%;
  height: 3rem;
}
nav .nav1 input {
  width: 40rem;
  height: 2rem;
  border-radius: 10px;
}
nav div {
  margin: 5px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
nav div p {
  color: white;
}
nav #logo {
  width: 13rem;
  height: "";
}
nav #perfil {
  display: flex;
  flex-direction: "";
  width: 10rem;
  margin-right: 10rem;
}
nav #perfil img {
  transform: translate(1px, -0.5rem);
}

ul {
  width: 100%;
  height: 3rem;
  background-color: #FF6500;
  list-style: none;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  font-family: "Bebas Neue", cursive;
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
  margin: 1.9rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  background-color: #FF6500;
  transform: translate(0px, 0rem);
}
ul li:hover {
  background-color: #ff9100;
}
ul li input {
  all: unset;
  padding: 5px;
}

.slider {
  width: 70rem;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}
.slider .slid {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-start;
}

.container {
  width: 70rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.container .anuncio {
  width: 100% rem;
  height: 14rem;
  display: flex;
  flex-direction: row;
  background-color: red;
  overflow: hidden;
  margin-bottom: 1rem;
}
.container .anuncio .anunciochild {
  display: flex;
  flex-direction: row;
  transition: 1s;
}
.container .anuncio .an {
  width: 70rem;
  height: 100%;
}
.container .destaques {
  font-size: 2rem;
  margin-top: 20px;
  padding-left: 1rem;
  color: #ffffff;
  background-color: #FF6500;
  font-family: "Bebas Neue", cursive;
}
.container .subdestaques {
  padding-top: 2rem;
  font-size: 2rem;
  padding-left: 1rem;
  background-color: #f6f6f6;
  font-family: "Bebas Neue", cursive;
}
.container .produtos {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.container .produtos input {
  width: 0.7rem;
  height: 0.7rem;
}
.container .produtos img {
  width: 6rem;
  height: 6rem;
}
.container .produtos .itens {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1.4rem;
  margin-top: 0.5rem;
  width: 12rem;
  height: 19rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}
.container .produtos .itens:hover {
  scale: 1.01;
}
.container .produtos .itens img {
  width: 100%;
  height: 50%;
}
.container .produtos .itens .addcarrinho {
  padding: 0.1rem;
  border-radius: 5px;
  color: white;
  background-color: #FF6500;
  cursor: pointer;
}
.container .produtos .itens .addcarrinho:hover {
  background-color: #ff9100;
}
.container .produtos .itens .addcarrinho:active {
  background-color: #ffac27;
}
.container .produtos .itens .addcarrinho:hover {
  scale: 1.03;
}

.carrinho {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 10%;
  height: -moz-fit-content;
  height: fit-content;
  width: 70rem;
  min-height: 14rem;
  padding-left: 1rem;
  padding-top: 1rem;
  background-color: #f6f6f6;
}
.carrinho .containeritm {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  min-height: 6rem;
  background-color: #f6f6f6;
}
.carrinho .containeritm .itemcar {
  margin-top: 0.5rem;
  background-color: #ffffff;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.carrinho .containeritm .itemcar .imgitm {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.carrinho .containeritm .itemcar .discricar {
  max-width: 15rem;
}
.carrinho .containeritm .itemcar .montante input {
  width: 2rem;
  height: 1.8rem;
  margin: 0.6rem;
  margin-right: 0.3rem;
  margin-left: 2rem;
  border: none;
}
.carrinho .containeritm .itemcar .montante img {
  width: 3rem;
  height: 0.5rem;
}
.carrinho .total {
  margin: 1rem;
  position: relative;
}
.carrinho .comprar {
  all: unset;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px black;
  top: 0px;
  transform: translate(8rem, 0rem);
}
.carrinho .comprar:hover {
  background-color: #FF6500;
  border: solid 1px white;
}

.favoritos {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: -moz-fit-content;
  height: fit-content;
  width: 70rem;
  min-height: 14rem;
  background-color: #f6f6f6;
  padding: 1rem;
}
.favoritos .favoritosP {
  font-weight: bold;
  font-size: 1.5rem;
}
.favoritos input {
  width: 0.7rem;
  height: 0.7rem;
}
.favoritos .divfav {
  margin-left: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 14rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1rem;
  margin-top: 0.5rem;
  max-width: 11rem;
  height: 19rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px;
}
.favoritos .divfav:hover {
  scale: 1.01;
}
.favoritos .divfav img {
  width: 100%;
  height: 50%;
}

.criarperfil {
  width: 40%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 70rem;
  min-height: 14rem;
  background-color: #f6f6f6;
}
.criarperfil .ou {
  margin: 40px;
}
.criarperfil .boxlogin {
  display: flex;
  flex-direction: column;
}
.criarperfil .boxcriar {
  display: flex;
  flex-direction: column;
}

.historico {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 10%;
  height: -moz-fit-content;
  height: fit-content;
  width: 70rem;
  min-height: 14rem;
  background-color: #f6f6f6;
}
.historico .itemcar {
  margin-top: 0.5rem;
  background-color: #ffffff;
  width: 50%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.historico .itemcar .removeritm {
  display: none;
}
.historico .itemcar .imgitm {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
.historico .itemcar .discricar {
  max-width: 15rem;
}
.historico .itemcar .montante input {
  width: 2rem;
  height: 1.8rem;
  margin: 0.6rem;
  margin-right: 0.3rem;
  margin-left: 2rem;
  border: none;
}
.historico .itemcar .montante img {
  width: 3rem;
  height: 0.5rem;
}

@media screen and (max-width: 400px) {
  nav {
    width: 90%;
    height: 100px;
    display: flex;
    margin-left: -2rem;
    justify-content: center;
  }
  nav .sac {
    display: none;
  }
  nav #menu {
    display: none;
  }
  nav #logo {
    width: 90px;
    margin-left: 20px;
  }
  nav .nav1 input {
    width: 7rem;
    height: 1.3rem;
    border-radius: 10px;
  }
  nav #perfil {
    width: 1rem;
    height: 2rem;
    margin-right: 7px;
    opacity: 1;
  }
  nav #perfil img {
    width: 3rem;
    height: 2.4rem;
  }
  nav #perfil p {
    display: none;
  }
  nav #perfil .boxperfil {
    width: 2.5rem;
    height: 2.5rem;
  }
  ul {
    display: none;
  }
  .slider {
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .slid {
    display: flex;
    flex-direction: row;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    align-items: flex-start;
  }
  .container {
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container .produtos {
    justify-content: center;
  }
  .container .produtos .itens {
    width: 90%;
    height: 23rem;
    margin-left: 0;
  }
  .favoritos {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    min-height: 21rem;
  }
  .favoritos .divfav {
    width: 70%;
    height: 21rem;
    max-width: 40rem;
    margin-left: 0%;
  }
  .favoritos .divfav img {
    width: 12rem;
    height: 13rem;
  }
  .carrinho {
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .carrinho .containeritm {
    align-items: center;
  }
  .carrinho .containeritm .itemcar {
    width: 99%;
  }
  .criarperfil {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
  }
  .criarperfil .boxlogin {
    width: 10rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .criarperfil .ou {
    margin: 10px;
  }
  .criarperfil .boxcriar {
    width: 10rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .criarperfil .seuhist {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .criarperfil .seuhist .historico {
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .hide {
    display: none;
  }
  .historico .itemcar {
    transform: translate(-1rem, 0rem);
    width: 19rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  .historico .itemcar .montante {
    width: 1px;
    height: 100px;
  }
}
.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */