
@font-face {
    font-family: KumbhSans;
    src: url(./Outfit-VariableFont_wght.ttf);
}
*{
    font-family: KumbhSans;
    padding: 0%;
    margin: 0%;
}
.head{
    width: 100%;
    height: 50px;
}
.head ul{
    margin-left: 7% ;
    
}

ul li{
    display: inline;
    list-style: none;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    cursor: pointer;
}
#char{
    float: right;
    margin-right: 10%; 
}
#char #avatar{
    width: 40px;
    margin-left: 30px;
}
#carte1{
    transform: translate(0 , -7px);
}
.traco{
    margin: auto;
    width: 90%;
    height: 1px;
    background-color: rgb(212, 212, 212);
    margin-bottom: 80px;
    margin-top: 20px;
}
#main{
    position: relative;
    margin: auto;
    width: 57%;

}
#main .foto{
    border-radius: 3%;
    width: 330px;
    display: block;
    cursor: pointer;
}
#main .thumb{
    border-radius: 7%;
    width: 65px;
    cursor: pointer;
}
#main .thumb:not(:first-of-type){
    margin-right: 18px;
    margin-top: 10px;
}
#cinza{
    padding: 0%;
    margin: 0%;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translate(0px,-79%);
}
#close{
    margin: auto;
    transform: translate(950px,60px);
    /* background-color: orange; */
    display: inline-block;
    cursor: pointer;
}

#controles{
    /* background-color: violet; */
    width: 480px;
    height: 31px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-100px);
}

.imghide{
    position: absolute;
    display: inline;
    left: 50%;
    top: 50%;
    transform: translate(-47%,-50%);
}
#anti{
    border-radius: 50%;
    background-color: rgb(237, 235, 235);
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}
#anti img{
    transform: translate(11px,10px);
}
#prox{
    background-color: rgb(237, 235, 235);
    float: right;
    width: 33px;
    height: 43px;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 50%;
    transform: translate(5px,-44px);
}
#prox img{
    transform: translate(6px,11px);
}
.ima1{
    transform: translate(11px,9px);
}
.imghide .foto{
    border-radius: 3%;
    width: 430px;
    display: block;
    cursor: pointer;
}
.imghide .thumb{
    border-radius: 7%;
    width: 85px;
    margin-right: 26px;
    margin-top: 20px;
    cursor: pointer;
}
.showitm{
    display: inline-block;
    height: fit-content;
    width: 50%;
}
#discrip{
    
    width: 50%;
    float: right;
}
#discrip p{
    margin-bottom: 20px;
}
#cpn{
    color: hsl(26, 100%, 55%);
    margin-bottom: 20px;    
}
h1{
    margin-bottom: 20px;margin-bottom: 20px;
}
#price{
    display: inline-block;
    margin-bottom: 20px;
}
#off{
    color: hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    display: inline-block;
    margin-left: 20px;
    border-radius: 10%;
    height: 23px;
    width: 37px;
    padding-left: 7px;
    padding-top: 4px;
    
}
#ant{
    color: rgb(165, 163, 163);
    text-decoration: line-through;
}
#mountant{
    width: 102px;
    height: 40px;
    border-radius: 5%;
    display: inline-block;
    background-color: rgb(237, 235, 235);
    padding-left: 25px ;
    padding-top: 20px;
    cursor: pointer;
}
.montant{
    display: inline-block;
    margin-right: 10px ;
}
#montante{
    font-family: monospace;
    font-size: 21px;
}
.cont{
    margin-left: 5px ;
    margin-right: 5px;
}
.cart{
    color: white;
    background-color: hsl(26, 100%, 55%);
    border-radius: 7%;
    display: inline-block;
    width: 177px;
    height: 40px;
    padding-left: 60px;
    padding-top: 20px;
    transform: translate( 40px , 5px);
    cursor: pointer;
}
#carte{
    margin-right: 20px;
    
}
#menu{
    display: none;
}

#perfildp{
    display: none;

    width: 280px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 1100px;
    background-color: rgb(244, 243, 243);
    padding-left: 10px;
    padding-top: 10px;
    
}
#vazio{ /*carrinho vazio*/
    background-color: rgb(244, 244, 244);
    width: 270px;
    height: 100px;
}
#vazio p{ /*carrinho vazio*/
    transform: translate(60px,30px);
}
 #perfilprd{ /*a parte que vai ficar os produtos */
    display: none;

    width: 400px;
    height: 300px;
}
#traco{
    width: 103%;
    height: 1px;
    background-color: rgb(187, 187, 187);
    transform: translate(-10px);
    margin-bottom: 10px;
}
#dptxt{
    margin-left: 10px;
    margin-bottom: 10px;
}
#perfildp img{
    width: 30px;
    display: inline;
    float: left;
    transform: translate(0px,7px);
}
#dpdesc{
    /* background-color: aliceblue; */
    width: 230px;
    margin-left: 40px;
    
}
#lixo{
    position: inherit;
    transform: translate(245px ,-16px);
    width: 40px;

}
#lixo img{
    width: 15px;
}
#dpbox{
    color: white;
    background-color: hsl(26, 100%, 55%) ;
    border-radius: 5px;
    width: 150px;
    height: 35px;
    padding-left: 80px;
    padding-top: 10px;
    margin-left: 15px;
    margin-top: 10px;
}
@media screen and (max-width: 400px){
    

    @font-face {
        font-family: KumbhSans;
        src: url(./Outfit-VariableFont_wght.ttf);
    }
    *{
        font-family: KumbhSans;
        margin: 0%;
        padding: 0%;
    }
    body{
        position: relative;
    }
    .head{
        width: 90%;
        height: 50px;
        /* background-color: violet; */
    }
    .head ul{
        transform: translate(20px, 10px);
        
        
    }
    .coll{
        display: none;
    }
    #menu{
        display: inline;
        margin-right: 10px;
    }
    ul li{
        display: inline;
        list-style: none;
        float: left;
        margin-top: 10px;
        cursor: pointer;
        transform: translate(-50px , 0px);
    }
    #char{
        /* background-color: red; */
        float: right;
        margin-right: 4%; 
        transform: translate(40px,10px);
    }
    #char #avatar{
        width: 40px;
        margin-left: 30px;
    }
    #carte1{
        transform: translate(0 , -7px);
    }
    #traco{
        display: none;
    }
    #main{
        
        width: 100%;
        height: 900px;
        /* background-color: violet; */
        margin-top: 20px;
    }
    .showitm{
        display: block;
        /* background-color: red; */
        clear: right;
        width: 100%;
    }

    
    #main .foto{
        border-radius: 0%;
        width: 100%;
        display: block;
        cursor: pointer;
    }
    #main .thumb{
        /* border-radius: 7%; */
        width: 65px;
        cursor: pointer;
        display: none;
    }
    #main .thumb:not(:first-of-type){
        margin-right: 18px;
        margin-top: 10px;
    }
    
    .imghide{
        display: none;
    }


    #discrip{
        margin-top: 20px;
        width: 90%;
        float: left;

    }
    :only-child #discrip{
        margin-left: 10px;
        

    }
    #cpn{
        font-size: 19px;
        color: hsl(26, 100%, 55%);
        margin-bottom: 15px;
    }
    #discrip h1{
        margin-bottom: 18px;
    }

    #price{
        display: inline-block;
        margin-top: 20px;
        font-weight: bold;
    }
    #off{
        color: hsl(26, 100%, 55%);
        background-color: hsl(25, 100%, 94%);
        display: inline-block;
        margin-left: 20px;
        
        border-radius: 10%;
        height: 23px;
        width: 37px;
        padding-left: 7px;
        padding-top: 4px;
        
    }
    #ant{
        color: rgb(165, 163, 163);
        text-decoration: line-through;
        margin-top: 20px;
        float: right;
    }
    #mountant{
        width: 90%;
        height: 40px;
        border-radius: 5%;
        display: inline-block;
        background-color: rgb(237, 235, 235);
        padding-left: 25px ;
        padding-top: 20px;
        cursor: pointer;
        margin-top: 20px;
        transform: translate(10px);
    }
    .montant{
        display: inline-block;
        margin-right: 10px ;
    }

    #menos{
        margin-right: 100px;
    }
    #mais{
        margin-left: 90px;
    }
    .cont{
        margin-left: 5px ;
        margin-right: 5px;
    }
    .cart{
        color: white;
        background-color: hsl(26, 100%, 55%);
        border-radius: 10%;
        display: inline-block;
        width: 80%;
        height: 40px;
        
        padding-top: 20px;
        
        cursor: pointer;
        transform: translate(10px);
        margin-top: 20px;
    }
    #carte{
        margin-left: 36px;
        margin-right: 15px;
        
    }
    

}
